@import url('https://fonts.googleapis.com/css2?family=Smooch&family=Smooch+Sans:wght@100&display=swap');
@import "../scss/bootstrap.scss";
@import "../../node_modules/nprogress/nprogress.css";

html,
body {
    height: 100%;
}

#nprogress .bar {
    background: $secondary;
}


#nprogress .spinner-icon {

    border-top-color: $secondary;
    border-left-color: $secondary;

}



.App {
    height: 100%;
}

#app {
    flex-grow: 1;
    display: flex;
}


.ingredients {
    font-weight: lighter;
}



.nav-item {
    transition: background-color 500ms;

    .nav-link {
        color: black;
    }

    .nav-pill-item {

        &.active {
            background-color: $primary;

        }


        &:hover {
            background-color: #a99f9f;
        }
    }


}

.category-page {
    opacity: 1;
    transition: opacity 2s;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease;
}

.fade-out {
    opacity: 0;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    grid-template-rows: repeat(auto-fit, minmax(200px, 200px));
    justify-content: center;
}

.topbar-style {
    background-color: $primary;
}

.category-title {
    background-color: $primary ;

}